{% extends "base.html" %}

{% block content %}
 
        <ul>

                {% for blog in blogs%}
            
                    <form action ="/blog/<int:blog-id>"style="display:inline-block;">   
                        <strong><a name="blog-id" href=/blog/{{blog.owner_id}}> {{blog.title}} </a></strong> 
                            
                    </form>
                    <br>
                    {{blog.text_blog}}
                    <br>
                    <form action ="/blog/<int:user-id>"style="display:inline-block;">   
                        <p>
                            <sub>written by <a name="user-id" href=/blog/{{blog.owner_id}}>{{blog.owner_id}}</a><br>
                            </sub>
                        </p>
                    </form>
                    <hr>

                {% endfor %}

        </ul>
 

{% endblock %}