{% extends "base.html" %}

{% block content %}      


        
                <p align=center>
                    <font size="6">
                        <br>
                        <br>
                        <strong>{{blog.title}} </strong>
                    </font>
                </p>
                <br>
                <br>
                <p align=center>
                    <font size="3">
                        {{blog.text_blog}} 
                    </font>
                </p>
   
{% endblock %}