{% extends "base.html" %}

{% block content %}


    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}
 
        <ul>
            {% for blog in blogs %}
            
            <form action ="/blog/<int:blog-id>"style="display:inline-block;">   
                <strong><a name="blog-id" href=/blog/{{blog.id}}> {{blog.title}} </a></strong> 
                      
            </form>
            
            <br>
            <br>
            {{blog.text_blog}} 

                <form method='POST' action ="/delete-blog" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value={{blog.id}}/>
                    <input type="submit" value="Delete Blog"/>
                </form>
            <br>
            <hr>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}