{% extends "base.html" %}

{% block content %}
<h1>Log in to Blogz...</h1>
<p>You may also <a href='/signup'>signup</a> for an account! </p>

{% if error %}
<p><strong>Error:</strong> {{ error }}</p>
{% endif %}

<form action='/login' method='POST'>
    <table>
        <tr>
            <td>
                <label for="username">Username</label>
            </td>
            <td>
                <input name="username" type="username" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password" >
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
{% endblock %}