{% extends "base.html" %}

{% block content %}
<h1> Create an account to make a blog for yourself!</h1>
<form action="/signup" method="POST">
    <table>
        <tr>
            <td> <label for="username">Username</label></td>
            <td>
                <input type="text" name="username" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input type="password" name="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password" >
            </td>
        </tr>
    </table>
    <input type="submit" value="Ready to make my BLOG!">
</form>

{% endblock %}