{% extends "base.html" %}

{% block content %}
    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}
            {% for blog in blogs %}       
                    <br>

                            <a align=center name = blog_id href="{{ url_for('list_blogs', blog_id=blog.id)}}" id={{blog.id}}>
                                    <font size="4">
                                        <strong>{{blog.title}} </strong>
                                    </font>
                            </a>


                    <br>
                    <a align=center>
                        <font size="3">
                            {{blog.text_blog}} 
                        </font>
                    </a>
                    <br>
                    <hr>

            {% endfor %}
    
    {% endif %}
   
{% endblock %}